body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #99ccff;
}
.head1{
  font-family: 'Alfa Slab One', cursive ,sans-serif;
}
.header1{
  letter-spacing: 2px;
  font-family: 'Lato', sans-serif;
  margin-top: -1%;
}
.price{
  position: absolute;
  right: 0;
  bottom: 0;
  font-family: 'Alfa Slab One', cursive ,sans-serif;
  color: #99ccff;
  font-size: 30px;
  padding: 3px 15px;
  background-color: #ff4000;
  border-radius: 8px;
  width: 120px;
  height: 60px;
  transform: rotate(-25deg);
  margin: 0% 0% -17% 10%;
  text-align: center;
}
.bun{
  position: relative;
  border-radius: 60px 60px 10px 10px;
  height: 60px;
  width: 280px;
  background-color: #ff9900;
  box-sizing: border-box;
  margin: 4px;
  box-shadow: 0px -5px 2px #cc7a00 inset;
}
.bun1{
  position: relative;
  border-radius: 10px 10px 60px 60px;
  height: 60px;
  width: 280px;
  background-color: #ff9900;
  box-sizing: border-box;
  margin: 4px;
  box-shadow: 0px 5px 2px #cc7a00 inset;
}
.sezam1{
  position: absolute;
  opacity: 0.5;
  background: white;
  width: 20px;
  height: 6px;
  margin-right: 10px;
  right: 20%;
  top: 20%;
  border-radius: 50%;
}
.sezam2{
  position: absolute;
  opacity: 0.5;
  background: white;
  width: 20px;
  height: 6px;
  margin-right: 10px;
  right: 43%;
  top: 20%;
  border-radius: 50%;
}
.sezam3{
  position: absolute;
  opacity: 0.5;
  background: white;
  width: 20px;
  height: 6px;
  margin-right: 10px;
  right: 65%;
  top: 20%;
  border-radius: 50%;
}
.sezam4{
  position: absolute;
  opacity: 0.5;
  background: white;
  width: 20px;
  height: 6px;
  margin-right: 10px;
  right: 33%;
  bottom: 25%;
  border-radius: 50%;
}
.sezam5{
  position: absolute;
  opacity: 0.5;
  background: white;
  width: 20px;
  height: 6px;
  margin-right: 10px;
  left: 35%;
  bottom: 25%;
  border-radius: 50%;
}
.salad{
  border-radius: 5px 5px 0px 0px;
  padding: 5px;
  margin: 2px;
  height: 5px;
  width: 300px;
  background-color: green;
  box-shadow: 0px -5px 2px #006600 inset;
}
.salad1{
  border-radius: 0px 0px 5px 5px;
  padding: 5px;
  margin: 2px;
  height: 5px;
  width: 300px;
  background-color: green;
  box-shadow: 0px 5px 2px #006600 inset;
}
.cheese{
  border-radius: 5px;
  padding: 7px;
  margin: 2px;
  height: 3px;
  width: 300px;
  background-color: #ffcc00;
  box-shadow: 0px -3px 2px #999966 inset;
}
.tomato1{
  position: relative;
  border-radius: 5px;
  padding: 13px;
  margin: 2px;
  width: 140px;
  background-color: red;
  box-shadow: 0px -5px 2px #800000 inset;
  right: 5%;
  box-sizing: border-box;
}
.tomato2{
  position: absolute;
  border-radius: 5px;
  padding: 13px;
  width: 140px;
  background-color: red;
  box-shadow: 0px -5px 2px #800000 inset;
  left: 50%;
  bottom: 65%;
  box-sizing: border-box;
}
.meat{
  border-radius: 10px;
  padding: 10px;
  margin: 2px;
  height: 20px;
  width: 300px;
  background-color: #663300;
  box-shadow: 0px -5px 5px #331a00 inset;
}
